:root {
    --nbRows: 5;
    --nbColumns: 5;
}

.map {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: repeat(
        var(--nbRows),
        calc(min(100vh - #{$headerHeight} - #{$footerHeight}, 100vw - 10px) / max(var(--nbRows), var(--nbColumns)) - 10px)
    );
    grid-template-columns: repeat(
        var(--nbColumns),
        calc(min(100vh - #{$headerHeight} - #{$footerHeight}, 100vw - 10px) / max(var(--nbRows), var(--nbColumns)) - 10px)
    );
    gap: $mapGap;
    background-color: #e3bb70;

    position: relative;
}
