header {
    background-color: #02020291;
    @include center(space-between);
    height: $headerHeight;
    padding: 0 2rem;
    position: fixed;
    width: 100vw;

    .title {
        color: #f2f2f2;
    }

    .primary {
        display: flex;
        height: $headerHeight;

        .link {
            @include center();
            height: $headerHeight;
            padding: 0 2rem;

            // .icon {
            //     width: 30px;
            //     height: 30px;
            // }

            &:hover {
                color: white;
            }
        }
    }
}

.container {
    width: 100%;
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    flex: 100;
    background: transparent;
    @include center(center);
    flex-direction: column;
    background-size: cover;
    margin-top: $headerHeight;

    .section {
        display: none;
        // background-color: #ffffff55;
        max-width: 1200px;
        width: 95%;
        border-radius: 20px;
        height: 1000px;
        margin: 3em 0;
        padding: 2em;
        gap: 2em;
    }
}

.footer {
    width: 100%;
    height: 5em;
    overflow: hidden;
    @include center(center);
    flex-direction: column;
    background-color: var(--color-2);
    background-image: linear-gradient(180deg, var(--color-2) 0%, var(--color-4) 40%);

    .footer_content {
        width: 100%;
        height: 3em;
        @include center(center);
    }

    .footer_copyright {
        width: 100%;
        height: 2em;
        @include center(center);
    }
}
