.tile {
    width: 100%;
    height: 100%;
    background-color: #ccc;

    // Pour les tests
    @include center(center);

    &.constructible {
        cursor: pointer;
        @if $sprite {
            @include sprite(0, 4);
        } @else {
            background-color: orange;
        }
        box-shadow: inset 0 0 5px black;
    }
    &.turret {
        cursor: pointer;
        @if $sprite {
            @include sprite(6, 1);
        } @else {
            background-color: orangered;
        }
    }
    &.decor {
        @if $sprite {
            @include sprite(2, 4);
        } @else {
            background-color: green;
        }
    }
    &.start {
        @if $sprite {
            @include sprite(6, 10);
        } @else {
            background-color: rgb(255, 44, 44);
        }
    }
    &.route {
        @if $sprite {
            @include sprite(4, 4);
        } @else {
            background-color: rgb(128, 58, 0);
        }
    }
    &.end {
        @if $sprite {
            @include sprite(6, 7);
        } @else {
            background-color: #2d2d2d;
        }
    }
}
