.tile {
    width: 100%;
    height: 100%;
    background-color: #ccc;

    // Pour les tests
    @include center(center);

    &.constructible {
        cursor: pointer;
        background-color: orange;
    }
    &.tower {
        cursor: pointer;
        background-color: orangered;
    }
    &.decor {
        background-color: green;
    }
    &.start {
        background-color: rgb(255, 44, 44);
    }
    &.route {
        background-color: rgb(128, 58, 0);
    }
    &.end {
        background-color: #2d2d2d;
    }
}
